*{
    font-family: 'Roboto', sans-serif;
}
#header .mappiya-logo img{
    width: 50px;
}
.mappiya-logo-text{
    font-family: 'Fasthand', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FA462F;
}
.nav-link{
    font-size: 1rem;
    color: #000;
}
.nav-link:hover{
    color: #FA462F;
}
#header {
    background-image: url(./image/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section{
    height: 80vh;
}
#hero-section .hero-wrapper{
    margin-top: 100px;
    background-color: rgb(7, 7, 7, 0.5);
    padding: 5%;
    color: #FFF;
    border-radius: 5px;
}
#hero-section .hero-wrapper h1{
    font-size: 4.5rem;
    font-weight: 900;
}
#hero-section .hero-wrapper p{
    font-size: 1.25rem;
}
#hero-section .app-btn img{
    width: 150px;
    height: 50px;
}
#hero-section .app-btn img{
    width: 150px;
    height: 50px;
}
#hero-section .btn-reg{
    background-color: #FA462F;
    border: none;
    border-radius: 100px ;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
#hero-section .btn-reg:hover{
    background-color: #fff;
    color: #FA462F;
    
}
#hero-section .btn-reg2{
    background-color: rgb(45, 45, 240);
    border: none;
    border-radius: 100px ;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
#hero-section .btn-reg2:hover{
    background-color: #fff;
    color: rgb(45, 45, 240);
}
/* Mobile Section */
#mobile-section{
    margin-top: 60px;
    margin-bottom: 60px;
}
#mobile-section .app-wrapper-img{
    margin-top: 60px;
}
#mobile-section .app-img{
    width: 100%;
    height: 700px;
    object-fit: contain;
}
#mobile-section .app-wrapper img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#mobile-section .app-wrapper .app-span{
    color: #FA462F;
    font-size: 1.5rem;
}

/* Franchise section */ 
#franchise-section{
    background-image: url(./image/lanao-lake2.jpg);
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#franchise-section .franchise-wrapper{
    background-color: rgb(7, 7, 7, 0.5);
    color: #FFF;
    border-radius: 5px;
    margin: 70px 30px;
}
#franchise-section .franchise-image img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    margin-top: 5%;
    margin-left: 5%;
}
#franchise-section .franchise-h1{
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
}
#franchise-section .franchise-h2{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}
#franchise-section .franchise-p{
    font-size: 1rem;
    color: #fff;
}
#franchise-section .app-btn img{
    width: 150px;
    height: 50px;
}
/* Web Dev Section */
#web-dev{
    
}
#web-dev .img-team img{
    margin-top: 15%;
}
#web-dev .btn-reg{
    background-color: #FA462F;
    border: 1px solid #FA462F;
    border-radius: 100px ;
    color: #fff;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
#web-dev .btn-reg:hover{
    background-color: #fff;
    color: #FA462F;
    border: .5px solid #FA462F;
}
#web-dev .team-wrapper h2 h3 h5 p{
    color: #333;
}

/* Reg form section */
#reg-form {
    margin-bottom: 30px;
}
#reg-form .reg-h2 {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}
.mappiya-color{
    color: #FA462F;
}
#reg-form .reg-h2 .reg-p{
    font-size: 1.25rem;
    color: #333;
}
#reg-form .btn-reg{
    background-color: #fff;
    border: 1px solid #FA462F;
    border-radius: 100px ;
    color: #FA462F;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
#reg-form .btn-reg:hover{
    background-color: #FA462F;
    color: #fff;
    border: .5px solid #fff;
}
#reg-form .card{
    padding-bottom: 20px;
    height: 100%;
}
#reg-form .card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Pricing Card */
#pricing-card{
    background-color: #eee;
    padding: 70px 0;
}
#pricing-card .price-table{
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    transition: all .3s ease 0s;
    
}
#pricing-card .price-table .price-title{
    background: linear-gradient(to bottom right, #fa6fe6, #ffef65);
    padding: 40px 20px 145px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    color: #FFF;
    overflow: hidden;
}
#pricing-card .price-table .price-title::before{
    content: "";
    height: 200px;
    width: 280px;
    position: absolute;
    bottom: -175px;
    left: -46px;
    background: #FFF;
    border-radius: 80px;
    transform: rotate(-85deg);
}
#pricing-card .price-table .price-title::after{
    content: "";
    height: 200px;
    width: 280px;
    position: absolute;
    top: 150px;
    right: -70px;
    bottom: auto;
    left: auto;
    background: #FFF;
    border-radius: 100px;
    transform: rotate(-40deg);
}
#pricing-card .price-table .price{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 100px;
    left: 50%;
    background: #FFF;
    color: #404040;
    display: inline-block;
    padding: 35px 0;
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    border-radius: 50%;
    transform: translate(-50%);
    transition: all .3s ease 0s;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .3);
}
#pricing-card .price-table:hover .price{
    background: linear-gradient(to bottom right, #fa6fe6, #ffef65);
    color: #FFF;
}
#pricing-card .price-table .price .price-onetime{
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 0;
}

#pricing-card .price-table .price-content{
    list-style: none;
    padding: 0;
    margin: 20px;
    text-align: left;
    transition: all .3s ease 0s;
}
#pricing-card .price-table .price-content li {
    padding: 7px 0 7px 80px;
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
#pricing-card .price-table .price-content li::before{
    content: "\f00c";
    height: 24px;
    width: 24px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 20px;
    border-radius: 50%;
    border: 2px solid #fb6ee5;
    color: #fb6ee5;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 35px;
    transform: translate(-50%);
}
#pricing-card .price-table .price-content li.price-disable{
    color: #707070 !important;
}
#pricing-card .price-table .price-content li.price-disable::before{
    content: "\f00d";
    color: #707070;
    border-color: #707070 !important;
}
#pricing-card .price-msge{
    background: linear-gradient(to bottom right, #fa6fe6, #ffef65);
    position: relative;
    padding: 10px 40px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
    display: inline-block;
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    z-index: 1;
}
#pricing-card .price-msge:hover{
    color: #fff;
}
#pricing-card .price-msge::before{
    content: "";
    height: 92%;
    width: 98%;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
}
#pricing-card .price-msge:hover::before{
    background: 0 0;
}

/* Promo section */
#promo{
    height: 60vh;
    background-image: url(./image/sir-ferdz.jpg);
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
}
#promo .promo-wrapper{
    margin-top: 12%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #FFF;
    padding: 20px 0px;
    border-radius: 5px;
}
#promo .promo-wrapper h1{
    font-size: 3rem;
}
#promo .promo-wrapper p{
    font-size: 1.5rem;
}
#promo .btn-reg{
    background-color: #fff;
    border: 1px solid #FA462F;
    border-radius: 100px ;
    color: #FA462F;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
#promo .btn-reg:hover{
    background-color: #FA462F;
    color: #fff;
    border: .5px solid #fff;
}

/* partner section */
#partners {
    background-color: rgba(238, 238, 238, 0.281);
}
#partners .partner-bg{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./image/maranao2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}
#partners .partner-images img{
    width: 100%;
    height: 500px;
}
#partners .partner-logo img{
   width: 200px;
   height: 150px;
}
#partners .partner-bg2{
    padding: 40px;
    border: 5px solid #FA462F;
}
#partners .partner-bg2 h2{
    font-size: 3rem;
    font-weight: 600;
    color: #FA462F;
}

/* Gallery section */
#gallery{
    margin-top: 5%;
}
#gallery .item .card img{
    width: 100%;
    height: 300px;
}
#gallery .gallery-text{
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
    margin-top: 50px;
}


/* CSS */
#hero-section .button-87 {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#hero-section .button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#hero-section .button-87:active {
  transform: scale(0.95);
}
#hero-section .hero-wrapper a{
    text-decoration: none;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    #promo .promo-wrapper h1{
        font-size: 1.5rem;
    }
    #promo .promo-wrapper p{
        font-size: 0.5rem;
    }
   
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #promo .promo-wrapper h1{
        font-size: 1.5rem;
    }
    #promo .promo-wrapper p{
        font-size: 0.5rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #promo .promo-wrapper h1{
        font-size: 1.5rem;
    }
    #promo .promo-wrapper p{
        font-size: 0.5rem;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #promo .promo-wrapper h1{
        font-size: 2rem;
    }
    #promo .promo-wrapper p{
        font-size: 1rem;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
.owl-dots{
    display: none;
}